/*文本不适合转变成rem，直接使用该混合宏*/
@mixin font-dpr($font-size) {
  font-size: $font-size;

  [data-dpr="2"] & {
    font-size: $font-size * 2;
  }

  [data-dpr="3"] & {
    font-size: $font-size * 3;
  }
}

/*border 1px*/
@mixin border-1px($color) {
  position: relative;
  &::before {
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 1px solid $color;
    content: "";

    [data-dpr="2"] & {
      transform: scaleY(0.5);
    }

    [data-dpr="3"] & {
      transform: scaleY(0.333333333);
    }
  }

}


